*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
   
    padding: 10px;
}
.header-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.logo{
    grid-column: 1 / 3;
    display: flex;
}
.navigation{
    grid-column: 4 / 9;
}
.contact{
    grid-column: 9 / 13;
    text-align: right;
}